 *
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body
{
	font-size: 20px;
	overflow-x: hidden; 
	color: white; 
	font-family:'Flamenco',cursive;
}

header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../images/team.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	height: 130vh;
}
.clearfix:after
{
	content: ".";
	visibility: hidden; 
	display: block;
	height: 0px;
	clear :both;
}
.row
{
	max-width: 1180px;
	margin: 0 auto;
}
.logo
{
	height: 120px;
	width: auto;
	float: left; 
	margin-top: 20px;	
}
.main-nav
{ 
	float: right; 
	margin-top: 60px;
}
.main-nav li
{
	display: inline-block;  
	list-style: none;
	margin-left: 40px;
}
.main-nav li a
{
	padding: 5px 0;
	color: #fff;
	text-decoration:none;
	font-size: 120%;
	font-weight: 100;
	color: white;
}
.main-nav li a:hover 
{
	border-bottom: 2px solid white;  
}
.main-content-header 
{
	width: 1180px;
	position: absolute; 
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

 .mobile-icon
 {
 	display: none;
 }

 .team-section
 {
 	overflow: hidden;
 	text-align: center;
 	padding: 40px;
 }
.team-section h1
{
	text-transform: uppercase;
	margin-bottom: 60px;
	color: white;
	font-size: 40px;
}
.border{
	display: block;
	margin:auto;
	width: 160px;
	height: 3px;
	background: black;
	margin-bottom: 40px;
}
.ps
{
	margin-bottom: 40px;
}

.ps a
{
	display: inline-block;
	margin: 0 30px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%
}
.ps a img
{
	width: 100%; 
	filter: grayscale(100%);
	transition: 0.4s all;
}
.ps a:hover >img 
{
	filter:none;
}

.section
{
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: white;
	text-align: justify;
	height: 0;
	overflow: hidden;
}

.section:target
{
	height: auto;
}

.name
{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
}








/*///Responsive View///*/




@media only screen and (max-width: 1180px)
{
 .main-content-header
 {
 	width: 100%;
 	padding:0 2%;
 }
}

@media only screen and (max-width: 998px)
{
	h1
	{
		font-size: 200%;
	}
}
@media only screen and (max-width:768px)
{
	h1
	{
		font-size: 180%;
	}
	.main-nav{display: none; }

	.mobile-icon
	{
		display: inline-block;
		color: white;
		float: right;
		margin-top: 30px;
		margin-right: 20px; 
	}

	.main-nav 
	{
		float: left; 
	}

	.main-nav li 
	{
		display: block;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 480px)
{
	.btn-full
	{
		margin-bottom: 20px;
	}

	h1
	{
		font-size: 160%;
	}
}